@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

hr {
    border: 1px solid var(--clr-neutral-cream);
}

:root {
    --clr-primary-soft-red: hsl(10, 79%, 65%);
    --clr-primary-cyan: hsl(186, 34%, 60%);
    --clr-neutral-dark-brown: hsl(25, 47%, 15%);
    --clr-neutral-medium-brown: hsl(28, 10%, 53%);
    --clr-neutral-cream: hsl(27, 66%, 92%);
    --clr-neutral-very-pale-orange: hsl(33, 100%, 98%);

    --fs-normal: 14px;
    --fs-large: 27px;
    --fs-huge: 36px;

    --fw-normal: 400;
    --fw-bold: 700;

    --spc-small: 6px;
    --spc-normal: 16px;
    --spc-large: 32px;

    --br-small: 6px;
    --br-normal: 16px;
}

#website {
    display: grid;
    justify-content: center;
    align-content: center;

    background-color: var(--clr-neutral-cream);
    height: 100vh;

    font-family: 'DM Sans', sans-serif;
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
    color: var(--clr-neutral-medium-brown)
}

.fs-large {
    font-size: var(--fs-large)
}

.fs-huge {
    font-size: var(--fs-huge)
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fc-dark-brown {
    color: var(--clr-neutral-dark-brown);
}

.expenses-chart-component {
    padding: var(--spc-normal);
    min-width: 450px;
}

.component-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--clr-primary-soft-red);
    padding: var(--spc-normal);
    border-radius: var(--br-normal);
}

.balance-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--clr-neutral-very-pale-orange);
}

.logo {
    width: 50px;
}

.expenses-chart-wrapper {
    background-color: var(--clr-neutral-very-pale-orange);
    padding: var(--spc-large);
    margin-top: var(--spc-normal);
    border-radius: var(--br-normal);
}

.chart {
    display: flex;
    
    padding: var(--spc-large) 0;
}

.chart-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: 140px;
}

.expenses-day-wrapper {
    background-color: var(--clr-neutral-very-pale-orange);
    border-radius: var(--br-small);
    color: var(--clr-neutral-very-pale-orange);
    padding: var(--spc-small);
    margin-bottom: var(--spc-small);
}

.expenses-day-wrapper-show {
    background-color: var(--clr-neutral-dark-brown);
}

.expenses-column-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.expenses-column {
    width: 70%;
    background-color: var(--clr-primary-soft-red);
    border-radius: var(--br-small);
    align-self: flex-end;
}

.expenses-column-highest-expense {
    background-color: var(--clr-primary-cyan);
}

.expenses-column:hover,
.expenses-column:focus {
    cursor: pointer;
    opacity: 0.5;
}

.expenses-overview {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: var(--spc-large);
}

.expenses-comparison {
    text-align: right;
    margin-bottom: 8px;
}

@media only screen and (max-width: 600px) {
    :root {
        --fs-large: 24px;
        --fs-huge: 27px;
        --spc-large: 24px;
        --br-normal: 10px;
    }

    .expenses-chart-component {
        min-width: 300px;
    }

    .chart-column {
        width: 40px;
    }
}